# ID Google Sheet из URL:
# https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID/edit
GOOGLE_SHEET_ID=

# Название листа/вкладки внутри Google Sheet. Можно оставить Ответы.
GOOGLE_SHEET_TAB=Ответы

# Данные service account из JSON-ключа Google Cloud.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Пароль для админки опроса. Этот же пароль вводится во вкладке «Админка».
ADMIN_TOKEN=pass24opros24
